@model ConorFoxWebsite.Models.UserModel
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    ViewBag.Title = "My Timetable";
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/fullcalendar.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/fullcalendar.js")" type="text/javascript"></script>
    
    <script type="text/javascript">
        var eventsList = [];

        $(document).ready(function () {

            $("li").removeClass("active");
            $("#timetableMenu").addClass("active");

            $.ajax({
                type: 'POST',
                url: '/Staff/ReturnTimetableJsonResult',
                dataType: 'json', //json data type
                data: { user: '@Model.Id' },
                success: function (data) {
                    $.each(data, function (i, item) {
                        eventsList.push({
                            title: item.Title,
                            start: item.Start,
                            end: item.End,
                            description:"hola",
                            allDay: false
                        });
                    });

                    $('#calendar').fullCalendar({
                        events: eventsList
                    });
                }
             });
        });
    </script>
}

<br />
<h2>My Timetable</h2>
<p>
     
</p>
<div>
    @Html.Hidden("userId", @Model.Id)
    <div id='calendar' ></div>
    
</div>

